<div class="container">
  <div class="inner card-2">
    <h1 class="head">Report a Problem using email..</h1>
    <h2>Register</h2>
    <div class="body">
      <div class="box">
        <h5>First name</h5>
        <input type="text" class="text-input" name="fname">
      </div>
      <div class="box">
        <h5>Mid name</h5>
        <input type="text" class="text-input" name="mname">
      </div>
      <div class="box">
        <h5>Last name</h5>
        <input type="text" class="text-input" name="lname">
      </div>
      <div class="box">
        <h5>Email</h5>
        <input type="text" class="text-input" name="email">
      </div>
      <div class="box">
        <h5>Phone No</h5>
        <input type="text" class="text-input" name="phoneno">
      </div>

      <button (click)="submit" class="btn">Submit</button>
    </div>
  </div>
</div>
