<div class="menu-container">
  <div class="menus menu">
    <i class="material-icons">menu</i>
    
  </div>


  <div class="menus">
    <i class="material-icons">message</i>
    <p class="name">MailBox</p>
  </div>
  <div class="menus">
    <i class="material-icons">favorite</i>
    <p class="name">Spam</p>
  </div>
  <div class="menus">
    <i class="material-icons">delete</i>
    <p class="name">Trace</p>
  </div>
  <div class="menus">
    <i class="material-icons">list</i>
    <p class="name">other</p>
  </div>

  
</div>